{% extends 'base.html.twig' %}

{% block body  %}
<div class="jumbotron text-center">
<h1>Ma super agence</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur recusandae, sapiente, ea provident dicta exercitationem, rem officia ullam quae voluptatem repellat. Vitae obcaecati molestiae cum rem eligendi, hic minima! Maiores!

</p>
</div>
{% endblock %}
